<div class="profile-picture-box">
  <figure class="profile-picture">
    <a href="#">
      <img class="image-thumbnail" height="300px" width="100%" src="<%= show_attachment(user.profile_picture, 'avatar/user_default') %>" alt="profile picture">
    </a>
  </figure>
</div>
