<div class="widget-body">
  <div class="about-author">
    <ul class="author-into-list">
      <li><a href="#"><i class="bi bi-office-bag"></i><%=user.job_title%></a></li>
      <li><a href="#"><i class="bi bi-phone"></i><%=user.phone%></a></li>
    </ul>
  </div>
</div>
