<div class="widget-body">
  <div class="about-author">
    <ul class="author-into-list">
      <li><a href="#"><i class="bi bi-office-bag"></i><%=user.job_title%></a></li>
      <li><a href="#"><i class="bi bi-phone"></i><%=user.phone%></a></li>
      <hr>
      <li class="text-center">
        <% if @user !=  current_user %>
          <%= link_to "Chat <i class='fa fa-comments pull-right'></i>".html_safe ,conversations_path(user_id: @user.id, con_type: "User"), method: :post, class: "btn btn-blue" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
