<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>A friend in your Network posted a new inquiry !</h1>
<p>Click on the following link to see the inquiry</p>
<p> <a href="<%= inquiry_url(@inquiry.id) %>"> Inquiry </a></p>
</body>
</html>