<div class="container">
  <div class="row">
    <div class="col-md-12">
      <main class="bg-transparent">
        <div class="main-wrapper pb-0 mb-0">
          <div class="timeline-wrapper">
            <div class="timeline-page-wrapper">
              <div class="container-fluid p-0">
                <div class="row no-gutters">
                  <div class="col-6 align-items-center">
                    <%= render 'users/shared/user_info_form', user: user %>
                  </div>
                  <div class="col-6 align-items-center">
                    <%= render 'users/shared/personal_info_form', user: user, url: user_path(user) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
