/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "./fonts/_flaticon.scss";
@import "./theme_files/vendor/bootstrap.min";
@import "./theme_files/vendor/bicon.min";
@import "./theme_files/vendor/flaticon";
@import "./theme_files/plugins/plyr";
@import "./theme_files/plugins/slick.min";
@import "./theme_files/plugins/nice-select";
@import "./theme_files/plugins/perfect-scrollbar";
@import "./theme_files/plugins/lightgallery.min";
@import "./theme_files/style.min";
@import "./theme_files/style.scss";


.terms-condition {
  padding-top: 5px !important;
  margin-bottom: 5px !important;
}

.personal-form-wrapper{
  padding: 47px 0px 0px 0px !important;
}
