<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <main class="bg-transparent">
        <div class="main-wrapper pb-0 mb-0">
          <div class="timeline-wrapper">
            <div class="timeline-page-wrapper">
              <div class="container-fluid p-0">
                <div class="row no-gutters">
                  <div class="col-12 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                    <%= render 'users/shared/personal_info_form', user: @user %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
